/*Reset style and general style */
:root{
    --background-1: #FBC252;
    --background-2: #F0ECCF;
    --background-3: #A3BB98;
    --color-text: #5C0000;
    --blue: #0000FF;
    --white: #FFFFFF;
    --green: #006100;
    --red: #CC0000;
    --yellow: #FFD700;
    --orange: #E67E00;
    --brown: #800000;
    --purple: #8B008B;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: rgba(92,0,0, 0.6);
}

button, a{
    cursor: pointer;
}

/* Header */

header{
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img{
    width:300px
}

h1{
    color: var(--color-text);
    padding: 10px;
}
/* Main */

main {
    min-height: 70vh;
}

/* Players */

.players{
    background-color: var(--background-3);
    max-width:80%;
    margin: auto;
}

h2{
    color: var(--color-text);
    text-align: center;
    padding: 10px;
}

.players__btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding:10px;
}
.player-column {
    margin-bottom: 1rem;
}
.player{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid var(--color-text);
    margin:5px auto;
    padding: 10px;
}

.blue{
    background-color: var(--blue);
}

.white{
    background-color: var(--white);
}

.green{
    background-color: var(--green);
}

.red{
    background-color: var(--red);
}

.orange{
    background-color: var(--orange);
}

.yellow{
    background-color: var(--yellow);
}

#bluePlayerRow, #whitePlayerRow, #orangePlayerRow, #yellowPlayerRow, #greenPlayerRow, #redPlayerRow{
    border-radius:5px;
    padding:5px;
}

#bluePlayerRow {
    border: 8px solid var(--blue);
    box-shadow: 0px 2px 5px var(--blue);
    color: var(--blue);
}
#whitePlayerRow {
    border: 8px solid var(--white);
    box-shadow: 0px 2px 5px var(--white);
    color: var(--white);
}

#orangePlayerRow {
    border: 8px solid var(--orange);
    box-shadow: 0px 2px 5px var(--orange);
    color: var(--orange);
}
#yellowPlayerRow {
    border: 8px solid var(--yellow);
    box-shadow: 0px 2px 5px var(--yellow);
    color: var(--yellow);
}
#greenPlayerRow {
    border: 8px solid var(--green);
    box-shadow: 0px 2px 5px var(--green);
    color: var(--green);
}
#redPlayerRow {
    border: 8px solid var(--red);
    box-shadow: 0px 2px 5px var(--red);
    color: var(--red);
}

#bluePlayerRow, #whitePlayerRow, #orangePlayerRow, #yellowPlayerRow, #greenPlayerRow, #redPlayerRow{
    display:none;
}

.total-container {
    width: 220px;
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    text-shadow: 0px 0px 5px black;
}


/* Phase selectors */

.phase-container {
    display: flex;
    justify-content: center;
}
.phase-container div {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 50px;
    align-items: center;
    font-size: 1.5em;
}

/*Points*/

.scores > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 2px;
}
.scores > div > button{
width: 90%;
}

.column-a {
    display: grid;
    gap: 0.25rem;
}
.column-b {
    display: grid;
    gap: 0.25rem;
}
.column-c {
    display: grid;
    gap: 0.25rem;
}
.hide {
    display: none;
}
.show {
    display: contents }

.points{
    background-color: var(--background-2);
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    padding-top: 20px;
}

.point{
    border: 1px solid var(--color-text);
    height: 40px;
}


.brown{
    background-color: var(--brown);
}

.purple{
    background-color: var(--purple);
}

/* Footer*/
footer{
    text-align: center;
    color: var(--color-text);
    padding: 20px;
    font-weight: 700;
    background-color: var(--background-1);
    margin-top: 10px;
}

a:hover{
    color:var(--green);
}
