/*Reset style and general style */
:root{
    --background-1: #FBC252;
    --background-2: #F0ECCF;
    --background-3: #A3BB98;
    --color-text: #5C0000;
    --blue: #0000FF;
    --white: #FFFFFF;
    --green: #006100;
    --red: #CC0000;
    --yellow: #FFD700;
    --orange: #E67E00;
    --brown: #800000;
    --purple: #8B008B;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    background-color: rgba(92,0,0, 0.6);
}

button, a{
    cursor: pointer;
}

/* Header */

header{
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img{
    width:300px
}

h1{
    color: var(--color-text);
    padding: 10px;
}
/* Main */

main {
    min-height: 70vh;
}

/* Players */

.players{
    background-color: var(--background-3);
    max-width:80%;
    margin: auto;
}

h2{
    color: var(--color-text);
    text-align: center;
    padding: 10px;
}

.players__btn{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
    padding:10px;
}

.player{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid var(--color-text);
    margin:5px auto;
    padding: 10px;
}

.blue{
    background-color: var(--blue);
}
.white{
    background-color: var(--white);
}
.green{
    background-color: var(--green);
}
.red{
    background-color: var(--red);
}
.orange{
    background-color: var(--orange);
}
.yellow{
    background-color: var(--yellow);
}
.brown{
    background-color: var(--brown);
}
.purple{
    background-color: var(--purple);
}

/* Phase selectors */

.phase-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#phases {
    display: flex;
    border-radius: 3px;
    background-color: var(--color-text);
    gap: 0.5em;
}

#phases div {
    padding:0.25em 0.125em;
}

#phases label {
    font-size: 1.5rem;
}

#phases input {
    display: none;
    width: 0;
    height: 0;
}

.checked-radio {
    background-color: var(--background-2);
    border-radius: 3px;
    color: var(--color-text);
}

/*Points*/

.scores {
    text-align: center;
}

.column-a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.column-a > div {
    width: 99%;
    height: 2em;
}

.column-b {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.column-b > div {
    display: flex;
    justify-content: space-between;
    gap:0.25rem;
    width: 100%;
}

.column-b > div > div {
    display: flex;
    width: 48%;
    height:2em;
}

.column-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
}

.column-c > div {
    display: flex;
    justify-content: space-between;
    gap:0.25rem;
    width: 100%;
}

.column-c > div > div {
    display: flex;
    width: 31%;
    height:2em;
}


.points{
    background-color: var(--background-2);
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
    padding-top: 20px;
}

.points label {
    width: 100%;
    height: 100%;
    display: block;
}

.point{
    border: 1px solid var(--color-text);
    height: 2rem;
}

.player-column {
    width:12rem;
    margin-bottom: 1rem;
    border-radius:5px;
    padding:5px;
    display:none;
}

.points__blue {
    border: 8px solid var(--blue);
    box-shadow: 0px 2px 5px var(--blue);
    color: var(--blue);
}
.points__white {
    border: 8px solid var(--white);
    box-shadow: 0px 2px 5px var(--white);
    color: var(--white);
}

.points__orange {
    border: 8px solid var(--orange);
    box-shadow: 0px 2px 5px var(--orange);
    color: var(--orange);
}
.points__yellow {
    border: 8px solid var(--yellow);
    box-shadow: 0px 2px 5px var(--yellow);
    color: var(--yellow);
}
.points__green {
    border: 8px solid var(--green);
    box-shadow: 0px 2px 5px var(--green);
    color: var(--green);
}
.points__red {
    border: 8px solid var(--red);
    box-shadow: 0px 2px 5px var(--red);
    color: var(--red);
}

.total-container {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    text-shadow: 0px 0px 5px black;
}

.point-box {
    position: relative;
}

.unchecked {
    opacity: 0.7;
    border: 2px outset black;
}

.checked {
    opacity: 1;
    border: 5px inset black;
}

.point-box input {
    opacity: 0;
  }

label{
    color:var(--background-1);
    padding: 3px;
}

input[type="checkbox"]{
    display: none;
} 

.wall{
    font-size: 1.25rem;
    padding-bottom: 1em;
}

.wall label{
    color: var(--color-text);
    height: inherit;
    width: fit-content;
    margin: auto;
}

.wall input{
    display: block;
    font-size: 1.25rem;
    width: 50px;
    margin: auto;
}

/* Footer*/
footer{
    text-align: center;
    color: var(--color-text);
    padding: 20px;
    font-weight: 700;
    background-color: var(--background-1);
    margin-top: 10px;
}

a:hover{
    color:var(--green);
}
.hide {
    display: none;
}
.show {
    display: contents;
}